//
// Typography settings
// --------------------------------------------------

// Font Families
$font-family-sans-fallback: 'Arial', sans-serif;
$font-family-sans: 'Roboto', $font-family-sans-fallback;
$font-family-ci-fallback: 'Palatino', 'Times New Roman', sans-serif;
$font-family-ci: 'Roboto Slab', $font-family-ci-fallback;

// Tell Typi to use mappy-breakpoints
$typi-breakpoint: mappy-bp;

// Font Sizing
/* stylelint-disable value-list-max-empty-lines */
$typi: (
  // Base for <html>, will be inherited
  base: (
    null: (16px, 1.5)
  ),

  paragraph: (
    null: (14px, 1.5),
    sm: (18px),
    lg: (20px),
  ),

  paragraph-sm: (
    null: (12px, 1.5),
    sm: (14px),
    lg: (16px),
  ),

  paragraph-lg: (
    null: (16px, 1.5),
    sm: (20px),
    lg: (24px),
  ),

  h1: (
    null: (32px, 1.2),
    sm: (48px),
    lg: (80px)
  ),

  h2: (
    null: (24px, 1.2),
    sm: (40px),
    lg: (52px)
  ),

  h3: (
    null: (21px, 1.2),
    sm: (32px),
    lg: (36px)
  ),

  h4: (
    null: (18px, 1.2),
    sm: (27px),
    lg: (32px)
  ),

  h5: (
    null: (16px, 1.2),
    sm: (22px)
  ),

  h6: (
    null: (14px, 1.2),
    sm: (18px),
    lg: (20px)
  ),

  button: (
    null: (14px, 1.2),
    sm: (18px),
    lg: (20px)
  ),

  panel-headline: (
    null: (14px, 1.2),
    sm: (18px),
    lg: (20px)
  ),

  form-label: (
    null: (14px, 1.2),
    sm: (18px),
    lg: (20px)
  ),

  form-element: (
    null: (14px, 1.2),
    sm: (18px),
    lg: (20px)
  ),

  menu-level1: (
    null: (14px, 1.2),
    sm: (18px),
  ),

  menu-level2: (
    null: (14px, 1.2),
    sm: (18px),
  ),

  menu-level3: (
    null: (14px, 1.2),
    sm: (18px),
  ),

  footer: (
    null: (14px, 1.2),
    sm: (18px),
  ),
);
/* stylelint-enable */
