<div class="c-overlay c-overlay--menu" id="menu" data-overlay>
  <div class="c-overlay__inner">
    <div class="c-overlay__content">
      {% include "_components/static/menu" with {
        options: {
          type: "mobile",
        }
      } %}
    </div>
  </div>
</div>

