{#
 # Block Template – Button
 # -------------------------
 #
-#}

<section class="o-main__section o-main__section--type-{{ type }}" id="section-{{ type }}-{{ self.id }}">
  <div class="o-container o-container--max-md">
    {% if not self.linkit.isEmpty %}
      {% include '_components/button' with {
        options: {
          url: self.linkit.getUrl(),
          target: self.linkit.getTarget(),
          type: self.style.value,
          text: self.linkit.getText(),
          title: self.linkit.getTitle(),
        }
      } %}
    {% endif %}
  </div>
</section>


