{#
 # Block Template – Separator
 # -------------------------
 #
-#}

<section class="o-main__section o-main__section--type-{{ type }}" id="section-{{ type }}-{{ self.id }}">
  <div class="o-container">
    {% include '_components/separator' %}
  </div>
</section>
