{#
 # Block Template – Table
 # ----------------------------
 #
-#}

<section class="o-main__section o-main__section--type-{{ type }}" id="section-{{ type }}-{{ self.id }}">
    <div class="o-container">
      {% include '_components/table' with {
        options: {
          table: self.table,
          headRow: self.headRow,
          headColumn: self.headColumn,
          caption: self.caption,
          widthTable: self.width,
          responsive: self.responsive,
        }
      } %}
    </div>
  </section>

