{#
 # Component Template – Panels
 # -------------------------
 #
-#}

{% set defaults = {
  panels: [],
} %}

{% set options = options is defined ? defaults|merge(options) : defaults %}

<div class="c-panel-list">
  {% for panel in options.panels %}
    {% include '_components/panel' with {
      options: {
        headline: panel.headline,
        body: panel.body,
        id: panel.id,
      }
    } %}
  {% endfor %}
</div>
