{#
 # Component Template – Alpha teasers
 # -------------------------
 #
-#}

{% set defaults = {
  teasers: [],
} %}

{% set options = options is defined ? defaults|merge(options) : defaults %}

<div class="c-teasers-alpha">
  {# Teasers #}
  {% if options.teasers|length %}
    <div class="o-row o-row--centered c-teasers-alpha__row">
      {% for teaser in options.teasers %}
        <div class="o-col-sm-6 o-col-md-4 c-teasers-alpha__col">
          {% include "_components/teaser-alpha" with {
            options: {
              linkit: teaser.linkit,
              text: teaser.body,
              image: teaser.image.one(),
            }
          } %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
